---
import Navbar from "../compents/navbar.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Meher Shah</title>
</head>
<style>
  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<Navbar />
<div class="image-container">
  <img src="reuse.jpg" class="w-[80vw]" />
</div>
