---
import Navbar from "../compents/navbar.astro";
---

<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap"
    rel="stylesheet"
  />
  <script is:inline src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <title>Meher Shah</title>
</head>
<style>
  h1,
  h2,
  h3,
  p {
    font-family: Roboto, sans-serif;
  }
</style>
<Navbar />
<main
  id="PAGES_CONTAINER"
  class="PAGES_CONTAINER"
  tabindex="-1"
  data-main-content="true"
>
  <div id="SITE_PAGES" class="JshATs SITE_PAGES">
    <div id="SITE_PAGES_TRANSITION_GROUP" class="fcNEqv">
      <div id="yeafx" class="dBAkHi yeafx wixui-page">
        <div class="PFkO7r" data-testid="page-bg"></div><div class="HT5ybB">
          <div id="Containeryeafx" class="Containeryeafx SPY_vo">
            <div
              data-mesh-id="ContaineryeafxinlineContent"
              data-testid="inline-content"
              class=""
            >
              <div
                data-mesh-id="ContaineryeafxinlineContent-gridContainer"
                data-testid="mesh-container-content"
              >
                <div
                  id="comp-k47aad8y"
                  class="BaOVQ8 tz5f0K comp-k47aad8y wixui-rich-text"
                  data-testid="richTextElement"
                >
                  <p
                    class="font_8 pb-8 pt-20"
                    style="font-size:15px; line-height:1.3em; text-align: center; font-weight: bold;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="letter-spacing:0.03em;"
                        ><span style="font-size:15px;"
                          ><span style="color:#d31c5d;">CONTACT DETAILS</span
                          ></span
                        ></span
                      ></span
                    >
                  </p>

                  <p class="font_8" style="font-size:15px; line-height:1.3em;">
                    <span class="wixGuard">&ZeroWidthSpace;</span>
                  </p>

                  <p class="font_8" style="font-size:14px; line-height:1.3em;">
                    <span style="color:#000000;"
                      ><span style="font-size:14px;"
                        ><span style="letter-spacing:0.03em;"
                          ><span
                            style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                            ><span class="wixGuard">&ZeroWidthSpace;</span
                            ></span
                          ></span
                        ></span
                      ></span
                    >
                  </p>
                </div><div
                  id="comp-k47a0h86"
                  class="BaOVQ8 tz5f0K comp-k47a0h86 wixui-rich-text"
                  data-testid="richTextElement"
                >
                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;"
                        ><b>For Project Enquiries and Job</b></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8 pb-4"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span style="font-size:13px;"
                      ><span
                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                        ><span style="text-decoration:underline;"
                          ><a
                            href="mailto:mehershah1023@gmail.com"
                            target="_self">mehershah1023@gmail.com</a
                          ></span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span style="font-size:13px;"
                      ><span
                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                        ><span class="wixGuard">&ZeroWidthSpace;</span></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span style="font-size:13px;"
                      ><span
                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                        ><span style="text-decoration:underline;"
                          ><span class="wixGuard">&ZeroWidthSpace;</span></span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px; font-weight: bold;"
                        >Website</span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8 pb-4"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span style="font-size:13px;"
                      ><span
                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                        ><a
                          data-auto-recognition="true"
                          href="http://www.studionishitakamdar.com"
                          target="_blank">www.studionishitakamdar.com</a
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;"
                        ><span class="wixGuard">&ZeroWidthSpace;</span></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;font-weight:  bold;"
                        >Instagram</span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8 pb-4"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span style="font-size:13px;"
                      ><span
                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                        ><span style="text-decoration:underline;"
                          ><a
                            href="https://www.instagram.com/meher_23/?hl=en"
                            target="_self">meher_23</a
                          ></span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;"
                        ><span class="wixGuard">&ZeroWidthSpace;</span></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px; font-weight: bold;"
                        >Phone Number</span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8 pb-4"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span style="font-size:13px;"
                      ><span
                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                        ><span style="text-decoration:underline;"
                          >+91 8758636261</span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;"
                        ><span style="color:#000000;"
                          ><span style="letter-spacing:0.03em;"
                            ><span class="wixGuard">&ZeroWidthSpace;</span
                            ></span
                          ></span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;"
                        ><span style="color:#000000;"
                          ><span
                            style="letter-spacing:0.03em; font-weight: bold;"
                            >Location</span
                          ></span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span style="font-size:13px;"
                      ><span
                        style="font-family:avenir-lt-w01_35-light1475496,sans-serif;"
                        ><span style="color:#000000;"
                          ><span style="letter-spacing:0.03em;">Ahemedabad</span
                          ></span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;"
                        ><span style="color:#000000;"
                          ><span style="letter-spacing:0.03em;"
                            ><span class="wixGuard">&ZeroWidthSpace;</span
                            ></span
                          ></span
                        ></span
                      ></span
                    >
                  </p>

                  <p
                    class="font_8"
                    style="font-size:13px; line-height:1.3em; text-align:center;"
                  >
                    <span
                      style="font-family:avenir-lt-w01_85-heavy1475544,sans-serif;"
                      ><span style="font-size:13px;"
                        ><span style="color:#000000;"
                          ><span style="letter-spacing:0.03em;"
                            ><span class="wixGuard">&ZeroWidthSpace;</span
                            ></span
                          ></span
                        ></span
                      ></span
                    >
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
