---
---

<body>
  <style>
    h2 {
      font-size: 1rem;
      line-height: 1.5rem;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      padding-left: 10px;
      padding-right: 10px;
    }

    a {
      margin-left: 30px;
    }
  </style>
  <div class="navbar flex justify-between mx-5 my-3">
    <h1 class="text-base" style=`font-family: "Roboto", serif; font-weight:600`>
      Meher Shah
    </h1>
    <div id="links" class="flex">
      <a href="/" class="hover:bg-gray-700 hover:text-white"><h2>Home</h2></a>
      <a href="/about" class="hover:bg-gray-700 hover:text-white"
        ><h2>About</h2></a
      >
      <a href="/contact" class="hover:bg-gray-700 hover:text-white"
        ><h2>Contact</h2></a
      >
    </div>
  </div>
</body>
